<?xml version="1.0"?>
<configuration>

  
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Manage">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
<!--<configuration>
  <location  path="Register.aspx">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="Login.aspx">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  
  <location  path="Manage.aspx">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <system.webServer>
    <security>
      <authorization>
        <add accessType="Deny" users="?" />
      </authorization>
    </security>
  </system.webServer>
</configuration>-->